.timeLineContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  margin-top: 10px;
}
.timeLineContent {
  height: auto;
  width: 60vw;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 40vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scaleX(0.5);
  opacity: 0;
  animation: expand 500ms 300ms ease-in-out forwards;
}

.timeLineContent h2 {
  text-align: left;
}

.timeLineContent ul {
  margin: 0;
  margin-top: 1rem;
  list-style: none;
  position: relative;
  padding: 1px 100px;
  color: #fff;
  font-size: 0.9rem;
}

.timeLineContent ul:last-of-type {
  margin-bottom: 100px;
}
.timeLineContent ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}
.timeLineContent ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 14px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.highlight {
  border: 5px solid #dfcdff;
  background-color: rgb(0 0 0 / 55%) !important;
}
.timeLineContent ul .highlight {
  margin-left: 25px;
}
.timeLineContent .highlight div .title{
  font-size: 1.2rem;
}

.timeLineContent ul li:not(:first-child) {
  margin-top: 30px;
}
.timeLineContent ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}

.timeLineContent ul li > span:before { /*, .timeLineContent ul li > span:after {*/
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.timeLineContent ul li span:after {
  top: 100%;
}
.timeLineContent ul li > div {
  margin-left: 10px;
}
.timeLineContent div .title {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 10px;
}
.timeLineContent div .title:nth-of-type(1) {
  margin-top: 0px;
}
.timeLineContent div .info {
  font-weight: 300;
}
.timeLineContent div > div {
  /*margin-top: 5px;*/
}
.timeLineContent span.number {
  height: 100%;
}
.timeLineContent span.number span {
  position: absolute;
  font-size: 1rem;
  left: -4.5rem;
  font-weight: bold;
}
.timeLineContent span.number span:first-child {
  top: -8px;
}
.timeLineContent span.number span:last-child {
  bottom: -10px;
}

.monthHead {
  margin-top: 50px;
}

.underline {
  display: inline-block;
  position: absolute;
  font-size: 0.85rem;
  transform: rotate(-8deg) translate(0.5rem, 0px);
  width: max-content;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff878dca;
}

.music {
  content: url("../../assets/images/music-icon.PNG");
  width: 50px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, -15px);
}

.member {
  content: url("../../assets/images/member-icon.PNG");
  width: 50px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, -15px);
}

.goods {
  content: url("../../assets/images/goods-icon.PNG");
  width: 50px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, -15px);
}

.collab {
  content: url("../../assets/images/collab-icon.PNG");
  width: 65px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(18px, -18px);
}

.congrats {
  content: url("../../assets/images/congrats-icon.PNG");
  width: 90px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60px, -23px) rotate(11deg);
}



.timeLineToolBar {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 10px 0;
  font-weight: bold;
  text-shadow: 0px 0px 5px #53babf;;
  opacity: 0;
  animation: fadeIn 800ms ease-in-out forwards;
}
.monthDiv {
  border-left: solid 3px white;
  padding-left: 10px;
  width: max-content;
}
.monthDiv:nth-child(1), .monthDiv:nth-child(13) {
  border: none;
}
.monthDiv > a {
  padding: 5px;
  display: flex;
}
.monthDiv > a:hover {
  color: #ebebeb;
  cursor: pointer;
}
.fullMonth {
  display: block;
}
.shortMonth {
  display: none;
}
.selected {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

@keyframes expand {
  from {
    opacity: 0;
    transform: scaleX(0.8);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .timeLineContent {
    width: 75vw;
  }
  .timeLineToolBar {
    column-gap: 3px;
    font-size: 0.8rem;
  }
  .monthDiv {
    padding-left: 3px;
  }
  .congrats {
    width: 70px;
    transform: translate(45px, -23px) rotate(11deg);
  }
  .music {
    width: 40px;
  }
  .member {
    width: 40px;
  }
  .goods {
    width: 40px;
  }
  .collab {
    width: 60px;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .timeLineContent {
    width: 75vw;
    padding-top: 0px;
  }
  .timeLineToolBar {
    column-gap: 3px;
    font-size: 0.8rem;
  }
  .timeLineContent span.number span:first-child {
    top: -8px;
    left: -58px;
    font-size: 0.8rem;
  }
  .timeLineContent span.number span:last-child {
    bottom: -10px;
    left: -58px;
    font-size: 0.8rem;
  }
  .monthDiv {
    padding-left: 3px;
  }
  .fullMonth {
    display: none;
  }
  .shortMonth {
    display: block;
  }
  .timeLineContent div .title {
    font-size: 0.9rem;
  }
  .timeLineContent .highlight div .title{
    font-size: 1rem;
  }
  .timeLineContent div .info {
    font-size: 0.7rem;
  }
  .monthHead {
    margin-top: 40px;
  }
  .congrats {
    width: 70px;
    transform: translate(45px, -23px) rotate(11deg);
  }
  .music {
    width: 40px;
  }
  .member {
    width: 40px;
  }
  .goods {
    width: 40px;
  }
  .collab {
    width: 60px;
  }
}

@media only screen  and (max-width: 900px) {
  .timeLineContent {
    width: 90vw;
  }
}
