<div class="layerContainer sunlightLayerContainer">
  <app-tool-bar [level]="level" [sublevel]="'Schneider\'s Journey'"></app-tool-bar>
  <div class="timeLineToolBar">
    <div class="monthDiv">
      <a (click)="monthSelect('marHead')">
        <!--          [class.selected] = "projectName === currentProject"-->
        2023<br>March
      </a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('aprHead')">2023<br>April</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('mayHead')">2023<br>May</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('junHead')">2023<br>June</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('julHead')">2023<br>July</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('augHead')">2023<br>August</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('sepHead')">2023<br>September</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('octHead')">2023<br>October</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('novHead')">2023<br>November</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('decHead')">2023<br>December</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('janHead')">2024<br>January</a>
    </div>
    <div class="monthDiv">
      <a (click)="monthSelect('febHead')">2024<br>February</a>
    </div>
  </div>
  <div class="timeLineContainer" id="timeLineContainer">
    <div class="timeLineContent">

      <h2 class="monthHead" id="marHead">March 2023</h2>
      <ul>
        <li><span></span>
          <div>
            <div class="title">Celestial Operation: ORION</div>
          </div> <span class="number"><span>Mar 14</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Escape from the sky 「ORION」</div>
            <img class="music" />
          </div> <span class="number"><span>Mar 20</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Live Debut] <span class="underline">คลาสแรก</span></div>
          </div> <span class="number"><span>Mar 25</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">The Deep's Desire「 Schneider」</div>
            <img class="music" />
          </div> <span class="number"><span>Mar 26</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] อ่านโดเนท ไม่ใช่ ClickBait <span class="underline">ไลฟแรก!!</span></div>
          </div> <span class="number"><span>Mar 26</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] เล่าแนวคิดตอนแต่งเพลง EFTS แต่ละ ver.</div>
          </div> <span class="number"><span>Mar 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] KARAOKE<span class="underline">โอ้ทารก</span></div>
          </div> <span class="number"><span>Mar 28</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Assign ด่วน Free Talk</div>
          </div> <span class="number"><span>Mar 29</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Perfume Class</div>
          </div> <span class="number"><span>Mar 30</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Pico Park ft. ORION<span class="underline">รีเฟลกซ์คนแก่</span></div>
          </div> <span class="number"><span>Mar 31</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="aprHead">April 2023</h2>
      <ul>
        <li class="highlight">
          <div><span></span>
            <div class="title">ARP x Cos Nishi</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Apr 02</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk ผู้ชายราคาแพง</div>
          </div> <span class="number"><span>Apr 03</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Who's your daddy ft. ORION</div>
          </div> <span class="number"><span>Apr 04</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] เปิดโปรเจกต์ EFTS ft. Zekai</div>
          </div> <span class="number"><span>Apr 05</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Sarushibai [Thai ver.]<span class="underline">ขอตัวลาก่อน~</span></div>
            <img class="music" />
          </div> <span class="number"><span>Apr 06</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Membership Open
              <span class="underline" style="transform: rotate(-8deg) translate(0.5rem, -18px)">นร.หน้าห้อง</span>
              <span class="underline">แม่ค้าตามสั่ง/ผัดไทยสุดสวยห์</span>
              <span class="underline" style="transform: rotate(-8deg) translate(5.5rem, -20px)">เจ้าของโรงงาน</span></div>
          </div> <span class="number"><span>Apr 11</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk กองโจร กินผัดไทย</div>
          </div> <span class="number"><span>Apr 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk รดน้ำดำหัว คล้องพวงมาลัย
              <span class="underline" style="transform: rotate(-8deg) translate(0.5rem, -20px)">ใบ้หวยโดยมารวย</span>
              <span class="underline" style="transform: rotate(-8deg) translate(0.5rem, 5px)">อวยยศเต็ม</span></div>
          </div> <span class="number"><span>Apr 14</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Ghost Watchers ft. ORION<span class="underline">กำเนิดคนต่อยผี</span></div>
          </div> <span class="number"><span>Apr 15</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Talking เกี่ยวกับการเขียนเนื้อ Sarushibai</div>
            <div class="title">[Membership] ASMR อ่านหนังสือ</div>
            <img class="member"/>
          </div> <span class="number"><span>Apr 17</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจร มานั่งหายใจให้ฟัง</div>
            <div class="title">[LIVE] เล่าเรื่อง<s> ผี </s><span class="underline">สุกี้!</span></div>
          </div> <span class="number"><span>Apr 24</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] talking พี่ชัยเล่าชีวิตมหาลัย</div>
          </div> <span class="number"><span>Apr 25</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">100K Subscribers!!<span class="underline">#100KHoneyCantEscapeFromThisGuy</span></div>
            <img class="congrats"/>
          </div> <span class="number"><span>Apr 25</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] ซ้อมร้องเพลง</div>
            <div class="title">[LIVE] ไลฟ์ดื่ม Deep talk ร้องไห้ ft. ORION</div>
            <img class="member"/>
          </div> <span class="number"><span>Apr 26</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Cold Hand [Short ver.]<span class="underline">ตัวเต็ม when?</span></div>
            <img class="music"/>
          </div> <span class="number"><span>Apr 26</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Friday Night [Thai ver.]</div>
            <img class="music"/>
          </div> <span class="number"><span>Apr 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Roleplay เป็นผู้ชายคืนวันศุกร์</div>
          </div> <span class="number"><span>Apr 28</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจร คืองี้</div>
          </div> <span class="number"><span>Apr 30</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="mayHead">May 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ส่องแท็ก #100KHoneyCantEscapeFromThisGuy</div>
          </div> <span class="number"><span>May 01</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจร <span class="underline">สงครามปาซุปแดง</span></div>
            <div class="title">[LIVE] Club Tuesday พี่ชัยไม่ฉอด pt.1</div>
          </div> <span class="number"><span>May 02</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธ ออคโตปุสน่ากลัว เล่าเรื่องผี pt.1<span class="underline">มีคนอยากได้อุยจาไว้สุ่ม</span></div>
          </div> <span class="number"><span>May 03</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Drinking ตบตัก</div>
          </div> <span class="number"><span>May 04</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] How to เขียนเนื้อเพลงคืนวันศุกร์</div>
          </div> <span class="number"><span>May 05</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Karaoke ฉลองแสนซัพ</div>
          </div> <span class="number"><span>May 07</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจร โนบาดี้กอนนาไดรฟ์ <span class="underline">ไม่ได้เล่นนนน</span></div>
            <div class="title">[LIVE] Club Tuesday พี่ชัยไม่ฉอด pt.2</div>
          </div> <span class="number"><span>May 09</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธ ออคโตปุสน่ากลัว เล่าเรื่องผี pt.2<span class="underline">เปิดตัวปิแอร์</span></div>
          </div> <span class="number"><span>May 10</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Goose Goose Duck ft. ARP boys<span class="underline">ชุดอยู่บ้านแน่นะวิ</span></div>
          </div> <span class="number"><span>May 11</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ชไนชวนชิม จัด Tier list ไก่ทอด</div>
          </div> <span class="number"><span>May 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] ไปนอนไป 1</div>
            <img class="member"/>
          </div> <span class="number"><span>May 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Drinking but English</div>
          </div> <span class="number"><span>May 14</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจรแมะหงึก <span class="underline">ม้าววววว 'w'</span></div>
          </div> <span class="number"><span>May 16</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">「 𝙊𝙍𝙄𝙊𝙉 𝙊𝙉 𝘽𝙄𝙇𝙄𝘽𝙄𝙇𝙄 」</div>
          </div> <span class="number"><span>May 16</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] ไปนอนไป 2</div>
            <img class="member" />
          </div> <span class="number"><span>May 17</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">𝗢𝗿𝗶𝗼𝗻 𝗗𝗲𝗯𝘂𝘁 𝗠𝗶𝗻𝗶 𝗖𝗼𝗻𝗰𝗲𝗿𝘁 𝘽𝙄𝙇𝙄𝘽𝙄𝙇𝙄</div>
            <img class="congrats" />
          </div> <span class="number"><span>May 17</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจร แก้มน้องน้ำผึ้งนั้นแดงกว่าใคร</div>
          </div> <span class="number"><span>May 18</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] มารีวิวน้ำหอม Collab ARAMO</div>
            <img class="collab" />
          </div> <span class="number"><span>May 21</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Talking เล่าวันหยุดที่ผ่านมา</div>
          </div> <span class="number"><span>May 22</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Club Tuesday พี่ชัยไม่ฉอด pt.3</div>
          </div> <span class="number"><span>May 23</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธเล่นเกมผี The Shadow Over Route 80</div>
          </div> <span class="number"><span>May 24</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Valorant ft. ORION, Usan, Shoto</div>
            <img class="collab" />
          </div> <span class="number"><span>May 25</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Roleplay เตรียมตัวไปเดต<span class="underline">อาบน้ำออกไลฟ</span></div>
          </div> <span class="number"><span>May 26</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Summer Breeze - หน้าร้อน(มีสองความหมาย)「ORION」</div>
            <img class="music" />
          </div> <span class="number"><span>May 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] กองโจร ห้าทุ่มมีอะไร</div>
            <img class="member" />
          </div> <span class="number"><span>May 27</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">ARP PARTY</div>
          </div> <span class="number"><span>May 28</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] UNO ft. ORION & U-San</div>
            <img class="collab" />
          </div> <span class="number"><span>May 31</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="junHead">June 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] เปิดโปรเจกต์เพลง Summerbreeze ft. Zekai</div>
          </div> <span class="number"><span>Jun 01</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คุยกันแบบกระซิบครับ ASMR<span class="underline">Friday night กระซิบ ver.</span></div>
          </div> <span class="number"><span>Jun 02</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Schneider x ท่านเทพ <span class="underline">#Orionปล่อยผมไปเถอะ</span></div>
            <img class="collab" />
          </div> <span class="number"><span>Jun 04</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Talking กินพาสต้า</div>
          </div> <span class="number"><span>Jun 05</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Orion ตีแอลกับแฟนคลับ</div>
          </div> <span class="number"><span>Jun 06</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Escape from the sky 「ORION」5M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Jun 06</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] มาแบบอึนๆ<span class="underline">เปิดร่างAlterครั้งแรก</span></div>
            <img class="member" />
          </div> <span class="number"><span>Jun 12</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Sarushibai [Thai ver.] 1M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Jun 15</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] The Outlast Trials ft.ORION & Shoto</div>
            <img class="collab" />
          </div> <span class="number"><span>Jun 16</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] เพื่อนบ้าอะไร<span class="underline">ใช้ร่างAlter</span></div>
            <img class="member" />
          </div> <span class="number"><span>Jun 17</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Summer Breeze - หน้าร้อน(มีสองความหมาย)「ORION」1M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Jun 18</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] เรดไปหาเอฟฟี่ Debut</div>
          </div> <span class="number"><span>Jun 21</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Minecraft ft. ORION pt.1</div>
          </div> <span class="number"><span>Jun 23</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Friday Night [Thai ver.] 1M Views</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Jun 25</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk pt.1<span class="underline">เปิดคาเฟ่น้องชไน</span></div>
          </div> <span class="number"><span>Jun 26</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Talking กินคิมบับ</div>
            <div class="title">[LIVE] Coffee Talk pt.2</div>
          </div> <span class="number"><span>Jun 27</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">ARP x CAF - 01/07 ARP Mini concert</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Jun 30</span> <span>Jul 02</span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="julHead">July 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Goose Goose Duck<span class="underline">ชไนเด้อคือรันเวย์</span></div>
          </div> <span class="number"><span>Jul 04</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk pt.3</div>
          </div> <span class="number"><span>Jul 06</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ชิม BL จาก Phoenix Next<span class="underline">ซาซากิมิยาโนะ</span></div>
            <img class="collab" />
          </div> <span class="number"><span>Jul 09</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk pt.4
              <span class="underline" style="transform: rotate(-8deg) translate(0.5rem, -18px)">มนผตั้มทิปมี</span>
              <span class="underline" style="transform: rotate(-8deg) translate(5.5rem, -20px)">เสียงโทรศัพท์เข้ารัวๆ</span>
              <span class="underline">ร้อง Blessing OF The Nephilim</span></div>
          </div> <span class="number"><span>Jul 11</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธ ออคโตปุสน่ากลัว เล่าเรื่องผี pt.3</div>
          </div> <span class="number"><span>Jul 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] ASMR จารย์ชัยแดง</div>
            <img class="member" />
          </div> <span class="number"><span>Jul 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Singing ร้องเพลงเปียโนเวอร์ชั่น</div>
          </div> <span class="number"><span>Jul 15</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Kiss The Rain-THAMA- [Thai ver.]</div>
            <img class="music" />
          </div> <span class="number"><span>Jul 15</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk pt.5<span class="underline">ยอมรับว่า"คิดถึง"</span></div>
          </div> <span class="number"><span>Jul 25</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk นั่งทำ Wish List</div>
          </div> <span class="number"><span>Jul 26</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] พูดถึงการแต่งเนื้อเพลง Kiss The Rain</div>
          </div> <span class="number"><span>Jul 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจรก่อนทูช็อต</div>
          </div> <span class="number"><span>Jul 29</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">V-MEET By V-Festa</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Jul 29</span> <span>Jul 30</span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] เขาว่ามาเฉย ๆ</div>
          </div> <span class="number"><span>Jul 30</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="augHead">August 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk pt.6</div>
          </div> <span class="number"><span>Aug 01</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Only Up รีเฟล็กคนแก่<span class="underline">ไลฟเพิ่งเริ่มใช่มั้ยคะ</span></div>
          </div> <span class="number"><span>Aug 03</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] ทำอะไรก๊อก ๆ แก๊ก ๆ<span class="underline">พูดไมค์แยกซ้ายขวาแกล้งมนผ</span></div>
            <img class="member" />
          </div> <span class="number"><span>Aug 07</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk pt.7</div>
          </div> <span class="number"><span>Aug 08</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] จะพูดคุยอย่างจริงจังกับทุก ๆ เรื่องที่คุณส่งมา</div>
          </div> <span class="number"><span>Aug 10</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE]ร้องเพลงแบบรุ่นพี่สุดหล่อ<span class="underline">ร้อง Beginning - One ok rock</span></div>
          </div> <span class="number"><span>Aug 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Surgeon Simulator 2 ft.ORION<span class="underline">รวมพลังพังโรงบาล</span></div>
          </div> <span class="number"><span>Aug 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.1<span class="underline">เป็นพี่ชไนแล้ว</span></div>
          </div> <span class="number"><span>Aug 14</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Working with me นั่งแต่งเนื้อไทย Seven - Jungkok</div>
          </div> <span class="number"><span>Aug 16</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] นั่งทำงานให้คุณฟัง<span class="underline">มนผปาทิปมี 30k ใน 6 นาที</span></div>
            <img class="member" />
          </div> <span class="number"><span>Aug 20</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.2<span class="underline">ใครจะแต่งงานมาบอกเดี๋ยวร้องเพลงให้</span></div>
          </div> <span class="number"><span>Aug 21</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธเล่นเกมผี Five Nights at Freddy's 4</div>
          </div> <span class="number"><span>Aug 23</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] Live ดื่มแบบสุลต่าน<span class="underline">มนผเลี้ยงเหล้า 5555</span></div>
            <img class="member" />
          </div> <span class="number"><span>Aug 24</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Minecraft ft. ORION</div>
          </div> <span class="number"><span>Aug 25</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.3</div>
          </div> <span class="number"><span>Aug 28</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กองโจรกินข้าวซอยตอนเที่ยง</div>
          </div> <span class="number"><span>Aug 29</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธ ออคโตปุสมาเล่าเรื่องผีตอนบวช</div>
            <div class="title">[LIVE] Honkai Star Rail<span class="underline">จ้าวยล 20 โรลตึง ๆ</span></div>
          </div> <span class="number"><span>Aug 31</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="sepHead">September 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] เล่นเกม Unpacking<span class="underline">Popo ขอบคุณมนผที่ช่วยจัดเฟ่วันเกิด</span></div>
          </div> <span class="number"><span>Sep 01</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.4<span class="underline">มนผปรึกษาเรื่องขอแต่งงาน</span></div>
          </div> <span class="number"><span>Sep 04</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธถีบ Stalker เกม PARASOCIAL</div>
          </div> <span class="number"><span>Sep 06</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Overcooked 2<span class="underline">ขำปอดโยก</span></div>
          </div> <span class="number"><span>Sep 08</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คลาสน้ำหอม<span class="underline">ป้ายยาน้ำหอม Butterfly</span></div>
          </div> <span class="number"><span>Sep 09</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] มาคุยให้ฟังเกี่ยวกับอาหารและการออกกำลังกาย (Spon Gemi Gummy)<span class="underline">เสื้อกล้ามชัชชาติ 55555</span></div>
            <img class="collab" />
          </div> <span class="number"><span>Sep 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] กินบะหมี่กึ่งสำเร็จรูปเป็นข้าวเที่ยง</div>
            <div class="title">[LIVE] โอ้ทารก แม่น้ำผึ้ง หัวใจหวาน pt.1</div>
          </div> <span class="number"><span>Sep 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] เปิดบาร์ร้อง KARAOKE<span class="underline">ร้องเพลงสีฟ้าครั้งแรก!</span></div>
            <img class="member" />
          </div> <span class="number"><span>Sep 16</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คาเฟ่มีปัญหา เล่น Sea of stars แทน</div>
          </div> <span class="number"><span>Sep 19</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] โอ้ทารก แม่น้ำผึ้ง หัวใจหวาน pt.2</div>
          </div> <span class="number"><span>Sep 21</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Escape the Backrooms ft.ORION หนีตาย pt.1</div>
          </div> <span class="number"><span>Sep 22</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] Free Talk<span class="underline">ร้อง I see the light</span></div>
            <img class="member" />
          </div> <span class="number"><span>Sep 23</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] พูดถึงการแต่งเนื้อเพลง Where Our Blue Is</div>
          </div> <span class="number"><span>Sep 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] งู้ยยยย ขอบคุณที่เลี้ยงเครื่องดื่มนะครับสุดสวยห์</div>
            <img class="member" />
          </div> <span class="number"><span>Sep 30</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="octHead">October 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.5</div>
          </div> <span class="number"><span>Oct 02</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] #ARProducersRelay ชนดแต่งเนื้อ ft. Magnum, Zekai</div>
          </div> <span class="number"><span>Oct 11</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ASMR Talking<span class="underline">หัวหอมกัดขาไมค์</span></div>
          </div> <span class="number"><span>Oct 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ศุกร์ 13 แก๊งหัวหอมล้อมวง AYRAxORION</div>
            <img class="collab" />
          </div> <span class="number"><span>Oct 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.6</div>
          </div> <span class="number"><span>Oct 17</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] แต่งเนื้อ Merry-Go-Around ให้ดากะ</div>
            <img class="member" />
          </div> <span class="number"><span>Oct 19</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Escape from the (blue) sky「 ORION feat. NeX Wonder 」</div>
            <img class="music" />
          </div> <span class="number"><span>Oct 20</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">TGS 2023</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Oct 20</span> <span>Oct 22</span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Algor PewPew<span class="underline">สปอนเซอร์บายคุณเป็ด</span></div>
          </div> <span class="number"><span>Oct 24</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ORION Talk & MV Watch Party 'Escape From Blue Sky'</div>
          </div> <span class="number"><span>Oct 25</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Schneider - Friday Night [Thai ver.] 2M Views</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Oct 26</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] จะตอบกลับทุกโดเนทด้วยมุกแสกมเมอร์<span class="underline">ชไนเบ้อ</span></div>
            <img class="member" />
          </div> <span class="number"><span>Oct 26</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="novHead">November 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.6<span class="underline">พาร์ท 6.2 หรอพี่</span></div>
          </div> <span class="number"><span>Nov 01</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">キタニタツヤ - 青のすみか / Where our blue is (Schneider ver.) 1M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Nov 03</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk ไลฟ์ 7 ชั่วโมงในตำนาน<span class="underline">นอนให้เติมหลอด</span></div>
          </div> <span class="number"><span>Nov 03</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.7<span class="underline">พี่ชไนเปิดใจคุย</span></div>
          </div> <span class="number"><span>Nov 07</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk ก่อนเข้าวันสุดอันตราย<span class="underline">มะวิ้งมะแว้ง</span></div>
          </div> <span class="number"><span>Nov 08</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Dangerous Sky「ORION」</div>
            <img class="music" />
          </div> <span class="number"><span>Nov 11</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] ฟ้าเฉดสีนี้ เรามีเรื่องให้คุยกันเยอะ ft.ORION</div>
          </div> <span class="number"><span>Nov 12</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk เก็บตกไอเดียตอนแต่งเพลง Dangerous Sky</div>
          </div> <span class="number"><span>Nov 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.8<span class="underline">ร้อง Paranoia</span></div>
          </div> <span class="number"><span>Nov 14</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Escape the Backrooms ft.ORION pt.2</div>
          </div> <span class="number"><span>Nov 15</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] KARAOKE<span class="underline">พูดถึงมนผส่งเปียโนให้ในโอกาส 200K</span></div>
          </div> <span class="number"><span>Nov 18</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk มาบ่นเรื่องทรงผมเฉย ๆ<span class="underline">ก่ำ 5555</span></div>
          </div> <span class="number"><span>Nov 21</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.9<span class="underline">ขอบคุณมนผที่อยู่ด้วยกันมาจนถึง 200K</span></div>
          </div> <span class="number"><span>Nov 22</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">200K Subscribers!!<span class="underline">#2แสนซับพี่ชไนรับรักได้หรือยัง</span></div>
            <img class="congrats"/>
          </div> <span class="number"><span>Nov 22</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] แต่่งเนื้อเพลง Osmanthus</div>
            <img class="member" />
          </div> <span class="number"><span>Nov 25</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk เม้าแซ่บวันจันทร์</div>
          </div> <span class="number"><span>Nov 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk เม้าแซ่บวันจันทร์</div>
          </div> <span class="number"><span>Nov 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.10<span class="underline">โดเนทค่าไมค์</span></div>
          </div> <span class="number"><span>Nov 28</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Dangerous Sky「ORION」1M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Nov 29</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="decHead">December 2023</h2>
      <ul>
        <li>
          <div><span></span>
            <div class="title">[LIVE] KARAOKE แบบเสอไพ้</div>
          </div> <span class="number"><span>Dec 07</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Algor Arcana</div>
            <img class="congrats"/>
          </div> <span class="number"><span>Dec 09</span> <span>Dec 10</span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 pt.11<span class="underline">มนผปากล่องแต่คารุโพรุ มั่ยดั้ยยยย</span></div>
          </div> <span class="number"><span>Dec 13</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Schneider feat. GEMINI<span class="underline">สมาชิก GEMINI คนที่สาม</span></div>
          </div> <span class="number"><span>Dec 14</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Valorant 5v5 ft. ORION, Usan, Shoto, Kuro, Eito, Leo, Bettel, Altare</div>
          </div> <span class="number"><span>Dec 15</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk เก็บตกท้ายสัปดาห์หลังจบงาน Algor Arcana</div>
          </div> <span class="number"><span>Dec 17</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Memorize Homies ล่าเรื่อง Puppy Love ในโรงเรียน ft. Zekai</div>
            <img class="collab" />
          </div> <span class="number"><span>Dec 18</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] UNO of the DEATH ft. ORION, U-San</div>
            <img class="collab" />
          </div> <span class="number"><span>Dec 19</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">Mariah Carey - All I Want for Christmas Is You Thai ver.「ORION」</div>
            <img class="music" />
          </div> <span class="number"><span>Dec 25</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">The Deep's Desire「 Schneider」1M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Dec 27</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[Membership] น้องชไนเบอร์ทำงานแทน</div>
            <img class="member" />
          </div> <span class="number"><span>Dec 28</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk Recap ทั้งปี</div>
          </div> <span class="number"><span>Dec 30</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="janHead">January 2024</h2>
      <ul>
        <li class="highlight">
          <div><span></span>
            <div class="title">Escape from the sky 「ORION」10M Views</div>
            <img class="congrats" />
          </div> <span class="number"><span>Jan 04</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Free Talk ไลฟ์แรกหลังปีใหม่ นั่งคุยแบบสบาย ๆ อัพเดทนั่นนี่<span class="underline">เล่าถึงสมัยเป็นอาจารย์</span></div>
          </div> <span class="number"><span>Jan 08</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] พูดถึงการแต่งเนื้อเพลงท้องฟ้าหลายเฉด<span class="underline">Demo เสียงชนดสุดยอด!</span></div>
          </div> <span class="number"><span>Jan 11</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] KARAOKE ฉลอง 200K ด้วย ARP song<span class="underline">List เพลงตึง ๆ</span></div>
          </div> <span class="number"><span>Jan 14</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] Coffee Talk Episode 2 พาร์ทสุดท้าย</div>
          </div> <span class="number"><span>Jan 16</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] คืนวันพุธ ออคโตปุสท้าผีต่อย Crimson Snow<span class="underline">เต๊งงงงงง</span></div>
          </div> <span class="number"><span>Jan 17</span> <span></span></span>
        </li>
        <li>
          <div><span></span>
            <div class="title">[LIVE] LoL กองโจรก่อนตึงจริง with Dacapo_ARP, S1R_ARP<span class="underline">ห้านาทีเข้าเมม 555</span></div>
          </div> <span class="number"><span>Jan 18</span> <span></span></span>
        </li>
      </ul>

      <h2 class="monthHead" id="febHead">February 2024</h2>
      <ul>
        <li class="highlight">
          <div><span></span>
            <div class="title">ORION Video Call Fansign Event</div>
            <img class="congrats" />
          </div> <span class="number"><span>Feb 03</span> <span></span></span>
        </li>
        <li class="highlight">
          <div><span></span>
            <div class="title">CosCos Suki #10</div>
            <img class="congrats" />
          </div> <span class="number"><span>Feb 25</span> <span></span></span>
        </li>
      </ul>
    </div>
  </div>
  <app-sunlight-zone-bg></app-sunlight-zone-bg>
</div>
