<div class="lightBox">
  <img class="closeBtn" (click)="onClose()" />
  <div class="creditsContainer">
    <h1>Credits</h1>
    <dl>
      <dt>Website Design & Implementation</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Ytterbunny</a></dd>
      <dt>Arts</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Zany</a></dd>
      <dt>Art Animation</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Vanda</a></dd>
    </dl>
    <h3>Me, Myself & I</h3>
    <br>
    <dl>
      <dt>UX & UI Consultant</dt><dd><a href="https://twitter.com/LeafeyeZ" target="_blank">LeafeyeS</a></dd>
      <dt>Time Line Content</dt><dd><a href="https://twitter.com/Redsaturn__n" target="_blank">Redsaturn</a></dd>
      <dt></dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Ytterbunny</a></dd>
      <dt></dt><dd><a href="https://twitter.com/LeafeyeZ" target="_blank">LeafeyeS</a></dd>
      <dt>Letter Form</dt><dd><a href="https://twitter.com/LeafeyeZ" target="_blank">LeafeyeS</a></dd>
      <dt>Birthday Projects</dt><dd><a href="https://twitter.com/FEnchanted0802" target="_blank">FEnchanted</a></dd>
      <dt></dt><dd><a href="https://twitter.com/AMiORE0802" target="_blank">AMiORE</a></dd>
      <dt></dt><dd><a href="https://twitter.com/DeepSea_0802" target="_blank">Whisper From The Deep Sea</a></dd>
      <dt></dt><dd><a href="https://twitter.com/RODKENFORSND" target="_blank">RODKENFORSND</a></dd>
      <dt></dt><dd><a href="https://twitter.com/jabchaisaimoo" target="_blank">Mum-Mum Na Krub Sud Suay</a></dd>
      <dt></dt><dd><a href="https://twitter.com/Real_SweetHoney" target="_blank">สวัสดีค่ะ พวกเราแม่น้ำผึ้งตัวจริง</a></dd>
      <dt></dt><dd><a href="https://twitter.com/hashtag/WalkingwithSchnei?src=hashtag_click" target="_blank">WalkingwithSchnei</a></dd>
      <dt>Time Line Prototype Design</dt><dd><a href="https://codepen.io/Fahrek" target="_blank">Andres</a></dd>
      <dt>Font</dt><dd><a href="https://fonts.google.com/specimen/Mitr?subset=thai" target="_blank">Mitr</a></dd>
      <dt></dt><dd><a href="https://www.f0nt.com/release/dm-twilight/" target="_blank">DM Twilight</a></dd>
    </dl>
    <br>
    <span>Non-commercial Use</span>
    <br>
    <br>
    <br>
    <h3>Special Thanks</h3>
    <h1
      matTooltip="The most handsome, good-looking, attractive, gorgeous, fine, stunning, elegant, fanciable, well-proportioned, hot, fit, sexy, and lovely man in the universe. a.k.a. Aj. Chai"
      matTooltipPosition="below"
      matTooltipShowDelay="1000">
      <a href="https://twitter.com/Schneider_ARP" target="_blank">Star Lord Schneider ARP</a>
    </h1>
    <img class="titleTypo" />
  </div>
</div>

