
.creditsContainer {
  overflow-y: scroll;
  padding-top: 10%;
  padding-bottom: 200px;
  font-style: italic;
}
.titleTypo {
  content: url("../../assets/images/typo.PNG");
  width: 500px;
  height: auto;
  margin-top: 5%;
}
.closeBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  content:url("../../assets/images/close-icon.PNG");
  z-index: 1;
  height: 70px;
  width: auto;
}
.closeBtn:hover {
  content:url("../../assets/images/close-icon-hover.PNG");
  height: 70px;
  width: auto;
  cursor: pointer;
  transform: scale(1.1);
}

dt {
  display:block;
  float:left;
  width:50%;
  text-align: right;
}
dt:after{
  content:':';
  font-style: normal;
  padding: 5px;
}
dd {
  display:block;
  text-align: left;
  margin: 2px 0px;
}


/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .titleTypo {
    width: 300px;
  }
  .closeBtn {
    height: 40px;
  }
  .closeBtn:hover {
    height: 40px;
  }

  .creditsContainer { // todo: this is just for testing the @media
    color: red;
  }
}

/* pc large */
@media only screen
  and (min-height: 1100px)
  and (orientation: landscape) {
  .titleTypo {
    width: 700px;
  }
}

/* Phone */
/*@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {
  .creditsContainer {
    color: blue; // todo
  }
}*/
