<div class="lightBox">
  <img class="closeBtn" (click)="onClose()" />
  <div class="creditsContainer">
    <h1>Credits</h1>
    <dl>
      <dt>Website Design & Implementation</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Ytterbunny</a></dd>
      <dt>Arts</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Zany</a></dd>
      <dt>Art Animation</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Vanda</a></dd>
    </dl>
    <h3>Me, Myself & I</h3>
    <br>
    <dl>
      <dt>Web Content</dt><dd><a href="https://twitter.com/ytterbunny" target="_blank">Ytterbunny</a></dd>
      <dt></dt><dd><a href="https://twitter.com/LeafeyeZ" target="_blank">LeafeyeS</a></dd>
      <dt></dt><dd><a href="https://twitter.com/Redsaturn__n" target="_blank">Redsaturn</a></dd>
      <dt>Birthday Projects</dt><dd><a href="https://twitter.com/FEnchanted0802" target="_blank">FEnchanted</a></dd>
      <dt></dt><dd><a href="https://twitter.com/AMiORE0802" target="_blank">AMiORE</a></dd>
      <dt></dt><dd>Whisper From the Deep Sea</dd>
      <dt>Background Music</dt><dd>???</dd>
      <dt>TimeLine Design</dt><dd><a href="https://codepen.io/Fahrek" target="_blank">Andres</a></dd>
    </dl>
    <br>
    <br>
    <h3>Special Thanks</h3>
    <h1
      matTooltip="The most handsome, good-looking, attractive, gorgeous, fine, stunning, elegant, fanciable, well-proportioned, hot, fit, sexy, and lovely man in the universe. a.k.a. Aj. Chai"
      matTooltipPosition="below"
      matTooltipShowDelay="1000">
      Star Lord Schneider ARP
    </h1>
    <img class="titleTypo" />
  </div>
</div>

