.projectModal {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}
.projectModalContent {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translate(-45px, -50%);
}
.projectModalList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: solid 3px black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.modalOnOthers {
  display: block;
}
.modalOnPhone {
  display: none;
}
.modalOnPhone .projectModalContent {
  top: 50%;
  right: -23px;
  height: 100%;
}
.modalOnPhone .projectModalContent .projectModalList {
  border: solid 3px black;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.projectList {
  border-top: solid 2px white;
  padding: 10px 10px;
  width: 90%;
}
.projectList:nth-child(1) {
  border: none;
}
.projectList > a:hover {
  color: #edd3ba;
}
.projectListCloseBtn {
  width: 90px;
  height: auto;
  content: url("../../assets/images/projects-close-icon.PNG");
}
.projectListCloseBtn:hover {
  content: url("../../assets/images/projects-close-icon-hover.PNG");
  cursor: pointer;
}
.sunlightLayerNav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.galleriesLink {
  position: absolute;
  width: 250px;
  height: auto;
  top: 8%;
  left: 55%;
  opacity: 0;
  animation: fadeIn 500ms 500ms ease-in-out forwards, floating 2s 950ms ease-in-out infinite alternate;
}
.galleriesLink > img {
  content: url("../../assets/images/galleries-icon.PNG");
  width: 100%;
  height: auto;
}
.galleriesLink > img:hover {
  width: 100%;
  height: auto;
  content: url("../../assets/images/galleries-icon-hover.PNG");
  transform: scale(1.1);
}
.timeLineLink {
  position: absolute;
  width: 250px;
  height: auto;
  top: 42%;
  left: 48%;
  opacity: 0;
  animation: fadeIn 500ms 700ms ease-in-out forwards, floating 2s 1330ms ease-in-out infinite alternate;
}
.timeLineLink > img {
  content: url("../../assets/images/timeline-icon.PNG");
  width: 100%;
  height: auto;
}
.timeLineLink > img:hover {
  width: 100%;
  height: auto;
  content: url("../../assets/images/timeline-icon-hover.PNG");
  transform: scale(1.1);
}
.projectListBtn {
  position: absolute;
  width: 250px;
  height: auto;
  top: 30%;
  left: 67%;
  opacity: 0;
  animation: fadeIn 500ms 400ms ease-in-out forwards, floating 2s 500ms ease-in-out infinite alternate;
}
.projectListBtn > img {
  content: url("../../assets/images/projects-icon.PNG");
  width: 100%;
  height: auto;
}
.projectListBtn > img:hover {
  width: 100%;
  height: auto;
  content: url("../../assets/images/projects-icon-hover.PNG");
  transform: scale(1.1);
  cursor: pointer;
}

.schneiderDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}
.schneiderDiv > img {
  width: 700px;
  height: auto;
  content:url("../../assets/images/schneider-layer-dive.GIF");
  position: absolute;
  top: 5%;
  right: 52vw;
  animation-fill-mode: forwards;
  animation-name: hiding;
  animation-duration: 1ms;
  animation-delay: 1108ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes hiding {
  0%, 48% {
    content:url("../../assets/images/schneider-layer-dive.GIF");
    opacity: 1;
  }
  49% {
    content:url("../../assets/images/schneider-layer-dive.GIF");
    opacity: 0;
  }
  50% {
    content:url("../../assets/images/schneider-layer-float.GIF");
    opacity: 0;
  }
  51%, 100% {
    content:url("../../assets/images/schneider-layer-float.GIF");
    opacity: 1;
  }
}

@keyframes floating {
    from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(2vh);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .schneiderDiv > img {
    width: 515px;
    right: 55vw;
  }
  .galleriesLink {
    width: 190px;
  }
  .timeLineLink {
    width: 190px;
  }
  .projectListBtn {
    width: 190px;
  }
  .projectModalContent {
    transform: translate(-25px, -50%);
  }
  .projectListCloseBtn {
    width: 50px;
  }
  .projectModalList {
    padding: 5px;
    border: solid 2px black;
    border-radius: 10px;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .schneiderDiv > img {
    width: 340px;
    right: 60vw;
    top: -7vh;
  }
  .galleriesLink {
    width: 160px;
    left: 58%;
  }
  .timeLineLink {
    width: 160px;
    top: 23%;
    left: 41%;
  }
  .projectListBtn {
    width: 160px;
    top: 20%;
    left: 75%;
  }
  .projectModalContent {
    transform: translate(-25px, -50%);
  }
  .projectListCloseBtn {
    width: 50px;
  }
  .projectModalList {
    padding: 5px;
    border: solid 2px black;
    border-radius: 10px;
  }
  .modalOnOthers {
    display: none;
  }
  .modalOnPhone {
    display: block;
  }
}

/* pc large*/
@media only screen
  and (min-height: 1100px)
  and (orientation: landscape) {
  .schneiderDiv > img {
    width: 1100px;
    right: 60vw;
  }
  .galleriesLink {
    width: 395px;
  }
  .timeLineLink {
    width: 395px;
  }
  .projectListBtn {
    width: 395px;
  }
  .projectModalContent {
    transform: translate(-55px, -50%);
  }
  .projectListCloseBtn {
    width: 110px;
  }
  .projectModalList {
    padding: 10px;
    border: solid 5px black;
    border-radius: 25px;
  }
}
