<div class="layerContainer sunlightLayerContainer" onload="testFunction()">
  <app-tool-bar [level]="level"></app-tool-bar>
  <nav class="sunlightLayerNav">
    <a routerLink="galleries"
       class="galleriesLink"
       matTooltip="Letters to Schneider"
       matTooltipPosition="above"
       matTooltipShowDelay="1000">
      <img src="../../assets/images/galleries-icon.PNG">
    </a>
    <div class="projectListBtn"
         (click)="showProjectList($event)"
         matTooltip="Birthday Projects"
         matTooltipPosition="above"
         matTooltipShowDelay="1000">
      <img src="../../assets/images/projects-icon.PNG">
    </div>
    <div *ngIf="showList" class="projectModal" (click)="closeProjectList()">
      <div class="projectModalContent"  [ngStyle]="{'top': projectContentY, 'left': projectContentX}">
        <div>
          <img class="projectListCloseBtn" />
        </div>
        <div class="projectModalList" (click)="$event.stopPropagation()">
          <div class="diamondDeco">⟡</div>
          <div class="projectList" *ngFor="let projectName of projectList">
            <a [routerLink]="projectName">{{ projectName }}</a>
            <div class="diamondDeco">⟡</div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="schneiderDiv">
    <img src="#"/>
  </div>
  <div class="sunlightBgDiv">
    <img id="bg3" src="../../assets/images/sunlight-bg3.PNG"/>
    <img id="bg2" src="../../assets/images/sunlight-bg2.PNG"/>
    <img id="bg1" src="../../assets/images/sunlight-bg1.PNG"/>
  </div>
</div>
