.projectModal {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sunlightLayerNav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.galleriesLink {
  position: absolute;
  width: 280px;
  height: auto;
  top: 10%;
  left: 50%;
  animation: floating 2s ease-in-out infinite alternate;
  animation-delay: 550ms;
}
.galleriesLink > img {
  width: 100%;
  height: auto;
}
.galleriesLink > img:hover {
  width: 100%;
  height: auto;
  content: url("../../assets/images/galleries-icon-hover.PNG");
  transform: scale(1.1);
}
.projectListBtn {
  position: absolute;
  width: 280px;
  height: auto;
  top: 30%;
  left: 67%;
  animation: floating 2s ease-in-out infinite alternate;
}
.projectListBtn > img {
  width: 100%;
  height: auto;
}
.projectListBtn > img:hover {
  width: 100%;
  height: auto;
  content: url("../../assets/images/projects-icon-hover.PNG");
  transform: scale(1.1);
  cursor: pointer;
}

.schneiderDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}
.schneiderDiv > img {
  width: 750px;
  height: auto;
  content:url("../../assets/images/schneider-layer-dive.GIF");
  position: absolute;
  top: 0;
  left: 2%;
  animation-fill-mode: forwards;
  animation-name: hiding;
  animation-duration: 1ms;
  animation-delay: 1108ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes hiding {
  0, 48%% {
    content:url("../../assets/images/schneider-layer-dive.GIF");
    opacity: 1;
  }
  49% {
    content:url("../../assets/images/schneider-layer-dive.GIF");
    opacity: 0;
  }
  50% {
    content:url("../../assets/images/schneider-layer-float.GIF");
    opacity: 0;
  }
  51%, 100% {
    content:url("../../assets/images/schneider-layer-float.GIF");
    opacity: 1;
  }
}

@keyframes floating {
    from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(2vh);
    }
}

@media only screen  and (max-height: 600px) and (orientation: landscape) {
  .schneiderDiv > img {
    width: 430px;
    left: 5%;
  }
  .galleriesLink {
    width: 170px;
  }
  .projectListBtn {
    width: 170px;
  }
}

@media only screen  and (min-height: 1100px) and (orientation: landscape) {
  .schneiderDiv > img {
    width: 1100px;
  }
  .galleriesLink {
    width: 395px;
  }
  .projectListBtn {
    width: 395px;
  }
}
