<div class="layerContainer sunlightLayerContainer" onload="testFunction()">
  <app-tool-bar [level]="level" [showBack]="false"></app-tool-bar>
  <nav class="sunlightLayerNav">
    <a routerLink="letters-to-schneider"
       class="galleriesLink"
       matTooltip="Letters to Schneider"
       matTooltipPosition="above"
       matTooltipShowDelay="1000">
      <img src="../../assets/images/galleries-icon.PNG">
    </a>
    <div class="projectListBtn"
         (click)="showProjectList($event)"
         matTooltip="Presents to Schneider"
         matTooltipPosition="above"
         matTooltipShowDelay="1000">
      <img src="../../assets/images/projects-icon.PNG">
    </div>
    <a routerLink="schneider-cruise"
       class="timeLineLink"
       matTooltip="Schneider's Cruise"
       matTooltipPosition="above"
       matTooltipShowDelay="1000">
      <img src="../../assets/images/timeline-icon.PNG">
    </a>
    <div *ngIf="showList" class="projectModal" (click)="closeProjectList()">
      <div class="projectModalContent"  [ngStyle]="{'top': projectContentY, 'left': projectContentX}">
        <div>
          <img class="projectListCloseBtn" />
        </div>
        <div class="projectModalList" (click)="$event.stopPropagation()">
          <div class="projectList" *ngFor="let projectName of projectList">
            <a [routerLink]="['presents-to-schneider', projectName]">{{ projectNameList[projectName] }}</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="schneiderDiv">
    <img src="#"/>
  </div>
  <app-sunlight-zone-bg></app-sunlight-zone-bg>
</div>
