.toolBar {
  display: block;
  width: 100%;
  height: 50px;
}
.toolBarWithShadow {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0));
}
.toolBar > h3 {
  flex: auto;
}
.backButtons {
  position: absolute;
  left: 20px;
  top: 25px;
  transform: translateY(-50%);
}
.toolBarIcon {
  height: 45px;
}
.levelDisplay {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translate(-50%, -50%);
}

.homeBtn {
  content:url("../../assets/images/home-icon.PNG");
  height: 100%;
  width: auto;
}
.homeBtn:hover {
  content:url("../../assets/images/home-icon-hover.PNG");
}

.backBtn {
  content:url("../../assets/images/back-icon.PNG");
  height: 100%;
  width: auto;
}
.backBtn:hover {
  content:url("../../assets/images/back-icon-hover.PNG");
  cursor: pointer;
}

.creditsBtn {
  position: absolute;
  right: 5px;
  top: 25px;
  transform: translateY(-50%);
  content:url("../../assets/images/credit-icon.PNG");
  width: auto;
}
.creditsBtn:hover {
  content:url("../../assets/images/credit-icon-hover.PNG");
  cursor: pointer;
}


@media only screen  and (max-height: 600px) and (orientation: landscape) {
  .toolBar {
    height: 30px;
  }
  .backButtons {
    top: 15px;
  }
  .creditsBtn {
    top: 15px;
  }
  .levelDisplay {
    top: 15px;
  }
  .toolBarIcon {
    height: 25px;
  }
}
