<div class="layerContainer sunlightLayerContainer">
  <app-tool-bar [level]="level" [sublevel]="'Letters to Schneider'"></app-tool-bar>
  <div class="galleriesContainer">
    <div *ngIf="!galleriesMessages.length" class="loadingDiv">
      <img src="../../assets/images/loading-icon.PNG" />
    </div>
    <div class="galleriesList">
      <div class="galleriesMessage" *ngFor="let galleriesMessage of galleriesMessages">
        <div class="messageDear">Dear {{ galleriesMessage.dear || 'Schneider' }}</div>
        <div class="messageText" *ngIf="galleriesMessage.message">{{ galleriesMessage.message }}</div>
        <div class="messageName">{{ galleriesMessage.name }}</div>
<!--        <div *ngIf="galleriesMessage.imgUrl">-->
<!--          <img src="{{galleriesMessage.imgUrl}}" (click)="onPreviewImage(galleriesMessage.imgUrl)">-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <div *ngIf="showPreview"
       [@animation]="{value: 'visible'}"
       class="lightBox">
    <img class="closeBtn" (click)="onClosePreview()" />
    <div class="lightBoxContainer">
      <img class="lightBoxImage" [src]="lightBoxImageUrl">
    </div>
  </div>
  <app-sunlight-zone-bg></app-sunlight-zone-bg>
</div>
