
.galleriesToolBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 10px;
  margin: 10px 0;
  font-weight: bold;
  text-shadow: 0px 0px 5px #53babf;
}
.sendBtnBar {
  width: 100%;
  font-style: italic;
}
.sendBtnBar > a {
  position: absolute;
  top: 50px;
  right: 4%;
  transform: translateY(50%);
}
.numberCounter > span {
  width: 5rem;
  display: inline-block;
}

.paginationToolBar {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 5px;
}
.page {
  border-left: solid 2px white;
  padding-left: 10px;
}
.page:nth-child(1) {
  border: none;
}
.page > a {
  padding: 5px;
}
.page > a:hover {
  color: #ebebeb;
  cursor: pointer;
}
.selected {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}


.galleriesContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: inline-block;
  position: relative;
}
.galleriesList {
  width: 90%;
  margin: 0 auto;
  column-count: 5;
  gap: 30px;
  transform: translateX(-15px);
  margin-bottom: 40vh;
}
.galleriesMessage {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: rgba(255, 250, 239, 0.65);
  border: solid white 2px;
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 10px;
}
.loadingDiv {
  width: 100%;
  height: 100%;
}
.loadingDiv > img {
  content: url("../../assets/images/loading-icon.PNG");
  width: 70px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

.messageFrom {
  padding: 10px 0px;
  text-align: right;
  font-style: italic;
}
.messageDear {
  padding-bottom: 20px;
  text-align: left;
  flex-direction: column;
  font-style: italic;
}
.messageText {
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 0.9rem;
}
/*
.galleriesMessage img {
  width: 100%;
  height: auto;
  font-style: italic;
}

.lightBox{
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightBoxContainer {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightBoxImage {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: .35rem;
}

.closeBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  content:url("../../assets/images/close-icon.PNG");
  z-index: 1;
  height: 70px;
  width: auto;
}
.closeBtn:hover {
  content:url("../../assets/images/close-icon-hover.PNG");
  height: 70px;
  width: auto;
  cursor: pointer;
  transform: scale(1.1);
}*/

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .galleriesList {
    column-count: 3;
  }
  .galleriesToolBar {
    row-gap: 0px;
    margin: 10px 0;
  }
  /*.sendBtnBar > a {
    top: 35px;
    right: 4%;
  }*/
  .sendBtnBar > h2 {
    margin-top: 0px;
  }
  .paginationToolBar {
    column-gap: 3px;
    font-size: 0.8rem;
  }
  .page {
    padding-left: 3px;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .galleriesList {
    column-count: 3;
  }
  .galleriesToolBar {
    row-gap: 0px;
    margin: 5px 0;
  }
  .sendBtnBar {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: 5px;
  }
  .sendBtnBar > a {
    position: relative;
    top: -6px;
    right: 4%;
  }
  .sendBtnBar > h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    width: fit-content;
  }
  .paginationToolBar {
    column-gap: 3px;
    font-size: 0.7rem;
    width: fit-content;
    position: absolute;
    top: 60px;
    left: 4%;
  }
  .page {
    padding-left: 3px;
  }
}

@media only screen  and (max-width: 800px) {
  .galleriesList {
    column-count: 3;
  }
  .loadingDiv > img {
    width: 50px;
  }
}
