
.galleriesContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: inline-block;
  position: relative;
}
.galleriesList {
  width: 90%;
  margin: 0 auto;
  column-count: 5;
  gap: 30px;
  transform: translateX(-15px);
  margin-bottom: 100px;
}
.galleriesMessage {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: grey;
  margin: 10px;
  padding: 10px;
}
.loadingDiv {
  width: 100%;
  height: 100%;
}
.loadingDiv > img {
  width: 70px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

.messageName {
  padding: 10px 0px;
}
.messageText {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
.galleriesMessage img {
  width: 100%;
  height: auto;
}

.lightBox{
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightBoxContainer {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightBoxImage {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: .35rem;
}

.closeBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  content:url("../../assets/images/close-icon.PNG");
  z-index: 1;
  height: 70px;
  width: auto;
}
.closeBtn:hover {
  content:url("../../assets/images/close-icon-hover.PNG");
  height: 70px;
  width: auto;
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen  and (max-width: 1024px) {
  .galleriesList {
    column-count: 3;
  }
  .galleriesMessage img {
    width: 100%;
  }
  .lightBoxContainer {
    width: 90%;
    height: 90%;
  }
}
@media only screen  and (max-width: 800px) {
  .galleriesList {
    column-count: 3;
  }
  .galleriesMessage img {
    max-width: 100%;
  }
  .lightBoxContainer {
    width: 90%;
    height: 90%;
  }
  .loadingDiv > img {
    width: 50px;
  }
}
