<p>more-sunlight works!</p>
<div class="layerContainer sunlightLayerContainer">
  <app-tool-bar [level]="level" [sublevel]="'Presents to Schneider'"></app-tool-bar>
  <app-projects-tool-bar [level]="level" [currentProject]="projectName"></app-projects-tool-bar>
  <div class="projectContainer">
    <div class="projectDetail">
      <div class="subProjects" id="rodkenforsnd">
        <a class="subProjectsProfile" href="https://twitter.com/RODKENFORSND" target="_blank"><img src="#" /></a>
        <div class="subProjectsDetail">
          <h2>RODKENFORSND</h2>
          <div>
            <span class="subProjectTitle">Tiny Special Event</span><br>
<!--            LED in total 56 screens<br>-->
<!--            ฉลองวันเกิดกันแบบยิ่งใหญ่ แบบ Shining Bling Bling ✨<br><br>--><br>
            <div class="subProjectInfo">
              <div><b>LOCATION</b></div>
              <div>:</div>
              <div>Asoke , Near GMM tower BKK</div>
              <div><b>DATE</b></div>
              <div>:</div>
              <div>1 - 29 FEB 2024</div>
            </div>
          </div>
        </div>
      </div>
      <div class="subProjects" id="mummum">
        <a class="subProjectsProfile" href="https://twitter.com/jabchaisaimoo" target="_blank"><img src="#" /></a>
        <div class="subProjectsDetail">
          <h2>Mum-Mum Na Krub Sud Suay</h2>
          <div>
            <span class="subProjectTitle">Charity Event</span><br>
<!--            LED in total 56 screens<br>-->
<!--            ฉลองวันเกิดกันแบบยิ่งใหญ่ แบบ Shining Bling Bling ✨<br><br>--><br>
            <div class="subProjectInfo">
              <div><b>LOCATION</b></div>
              <div>:</div>
              <div>TBD</div>
              <div><b>DATE</b></div>
              <div>:</div>
              <div>TBD</div>
            </div>
          </div>
        </div>
      </div>
      <div class="subProjects" id="sweethoney">
        <a class="subProjectsProfile" href="https://twitter.com/Real_SweetHoney" target="_blank"><img src="#" /></a>
        <div class="subProjectsDetail">
          <h2>สวัสดีค่ะ พวกเราแม่น้ำผึ้งตัวจริง</h2>
          <div>
            <span class="subProjectTitle">OUTDOOR LED & INDOOR LED</span><br>
            LED in total 56 screens<br>
            ฉลองวันเกิดกันแบบยิ่งใหญ่ แบบ Shining Bling Bling ✨<br><br>
            <div class="subProjectInfo">
              <div><b>LOCATION</b></div>
              <div>:</div>
              <div>Terminal21 ASOK</div>
              <div><b>DATE</b></div>
              <div>:</div>
              <div>2 - 8 FEB 2024</div>
            </div>
          </div>
          <div class="subProjectsTag">#ShiningSchneiday0802</div>
        </div>
      </div>
      <div class="subProjects" id="walkingwithschnei">
        <a class="subProjectsProfile" href="https://twitter.com/hashtag/WalkingwithSchnei?src=hashtag_click" target="_blank"><img src="#" /></a>
        <div class="subProjectsDetail">
          <h2>#WalkingwithSchnei</h2>
          <div>
<!--            <span class="subProjectTitle">OUTDOOR LED & INDOOR LED</span><br>-->
<!--            LED in total 56 screens<br>-->
<!--            ฉลองวันเกิดกันแบบยิ่งใหญ่ แบบ Shining Bling Bling ✨<br><br>-->
            <div class="subProjectInfo">
              <div><b>LOCATION</b></div>
              <div>:</div>
              <div>Paragon/CTW/Gaysorn Plaza/CT Chidlom/Terminal21/<br/>Korean Town/Mercury Ville/Marin plaza/Siam square </div>
              <div><b>DATE</b></div>
              <div>:</div>
              <div>3 - 4 FEB 2024 | 13:30-18:30 </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sunlight-zone-bg></app-sunlight-zone-bg>
</div>
