.loadingModal {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiddenLoadingModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 14;
}
#hiddenTypo {
  /*content: url("../assets/images/typo.GIF");*/
  width: 100px;
  height: 100px;
}

.progress {
  width: 40vw;
  height: 1vh;
  margin: 9em auto;
  border: 1px solid #fff;
  padding: 12px 10px;
  box-shadow: 0 0 10px #aaa;
  opacity: 1;
  animation: fadeOut 500ms 8s linear forwards;
}

.progress .bar {
  width: 0%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0px orange;
  transition: width 3s ease 3s;
  animation: progressing 7s ease-in-out forwards;
}

.titleModal {
  color: white;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  animation-name: slideUp, hideTypo;
  animation-duration: 2s, 100ms;
  animation-delay: 11s, 14s;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards, forwards;
  z-index: 10;
}
.titleModal > div {
  display: block;
  width: 600px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#titleTypo {
  content: url("../assets/images/typo.GIF");
  width: 100%;
  height: 100%;
  animation-name: imgFade;
  animation-duration: 500ms;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}
.dropDiv {
    position: absolute;
    width: 120px;
    height: auto;
    bottom: 0;
    left: 0;
    transform: translate(137px, 76px);
}
.drop {
    content: url("../assets/images/drop.PNG");
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: dropping;
    animation-duration: 1800ms;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}

#oceanBaseBg {
  background-color: #030216;
  background-image:
    radial-gradient(ellipse at 10% 10%, #0e0f24 0%, transparent 55%),
    radial-gradient(ellipse at 30% 110%, #28fecd 0%, transparent 40%),
    radial-gradient(ellipse at 70% 110%, #17fee2 0%, transparent 40%),
    radial-gradient(ellipse at 10% 100%, #472ea6 0%, transparent 25%),
    radial-gradient(ellipse at 90% 100%, #472ea6 0%, transparent 25%),
    radial-gradient(ellipse at 25% 50%, #50507b 0%, transparent 60%),
    radial-gradient(ellipse at 80% 54%, #50507b 0%, transparent 62%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.oceanBaseBgInner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image:
      radial-gradient(ellipse at 30% 55%, #0e0f24 0%, transparent 55%),
      radial-gradient(ellipse at 70% 40%, #5257b0 0%, transparent 55%);
}
.ripples {
  position: relative;
  z-index:5;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
}
.ripple {
  display:block;
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-image: radial-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,0.5));
  animation: rip 2s ease-out, hideTypo 100ms 13 linear;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards;
}
.ripple:nth-child(1) {
  animation-delay: 12.3s;
  top: 0px;
  left: -110px;
  --scale: 40;
}
.ripple:nth-child(2) {
  animation-delay: 12.7s;
  top: -100px;
  left: 0px;
  --scale: 50;
}
.ripple:nth-child(3) {
  animation-delay: 13.1s;
  top: 15px;
  left: 50px;
  --scale: 30;
}
.ripple:nth-child(4) {
  animation-delay: 13.5s;
  top: -50px;
  left: 100px;
  --scale: 40;
}
.ripple:nth-child(5) {
  animation-delay: 13.9s;
  top: -10px;
  left: 150px;
  --scale: 45;
}

.layerNavContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.selectedLayerName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 570px;
}
.selectedLayerName > h2 {
  font-family: Twilight, Mitr, san-serif;
  font-size: 2.5rem;
}
.constellation {
  width: 600px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  animation: fadeIn 2s 12.5s ease-in-out forwards;
}
.constellation > img {
  content: url("../assets/images/schneider-constellation.PNG");
  width: 100%;
  opacity: 0.3;
  animation: scaleUp 5s 14s ease-in-out infinite;
}
.layerStar {
  position: absolute;
  width: 70px;
  height: auto;
  transform: scale(1.5);
  animation: sizeUpDown 6s ease-in-out infinite;
}
.layerStar > img {
  content: url("../assets/images/close-icon-hover.PNG");
  width: 100%;
}
.layerStar > img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.inactiveStar {
  position: absolute;
  width: 70px;
  height: auto;
  opacity: 0.6;
}
.inactiveStar > img {
  content: url("../assets/images/close-icon.PNG");
  width: 100%;
}
.inactiveStar > img:hover {
  cursor: not-allowed;
}
.sunlightStar {
  top: 90px;
  left: 110px;
}
  .layerLine {
    position: absolute;
    border-bottom: 3px solid #ffffffa6;
    height: 5px;
  }
  .inactiveLine {
    position: absolute;
    border-bottom: 3px solid #808080a6;
    height: 5px;
  }
  .sunlightToTwilight {
    left: 50px;
    top: 280px;
    transform-origin: bottom left;
    width: 200px;
    rotate: -60deg;
  }
.twilightStar {
  top: 255px;
  left: 10px;
}
  .twilightToMidnight {
    left: 50px;
    top: 280px;
    transform-origin: bottom left;
    width: 270px;
    rotate: 23deg;
  }
.midnightStar {
  top: 360px;
  left: 300px;
  transform: translateX(-50%);
}
  .midnightToAbyss {
    right: 50px;
    top: 280px;
    transform-origin: bottom right;
    width: 270px;
    rotate: -23deg;
  }
.abyssStar {
  top: 255px;
  right: 10px;
}
  .abyssToTrenches {
    right: 50px;
    top: 280px;
    transform-origin: bottom right;
    width: 200px;
    rotate: 60deg;
  }
.trenchesStar {
  top: 90px;
  right: 110px;
}
#layerContentBegin {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -20;
}

/* BG */
.oceanBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.handsome {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.handsome > img {
  content: url("../assets/images/schneider-main-float.GIF");
  position: absolute;
  bottom: -80px;
  left: 5%;
  width: 640px;
  animation: floating 21s 5s ease-in-out infinite;
}

.waves {
  position: absolute;
  width: 100%;
  height: 40vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:25vh;
  max-height:40vh;
  bottom: 0;
  left: 0;
}
.wavesFiller {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -4s;
  animation-duration: 52s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}
.parallax > use:nth-child(3) {
  animation-delay: -2s;
  animation-duration: 21s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}


@keyframes slideUp {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0.2;
  }
}
@keyframes imgFade {
  from {
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes dropping {
  0% {
    opacity: 1;
    transform: translateY(+0vh);
  }
  30% {
    opacity: 1;
    transform: translateY(+30vh);
  }
  70% {
    opacity: 1;
    transform: translateY(+70vh);
  }
  100% {
    opacity: 0;
    transform: translateY(+70vh);
    display: none;
  }
}

@keyframes hideTypo {
  from {
    display: block;
  }
  to {
    display: none;
  }
}

@keyframes floating {
  25% {
    transform: translate(1vw, -2vh) rotate(2deg);
  }
  50% {
    transform: translateY(-4vh);
  }
  75% {
    transform: translate(-1vw, -2vh) rotate(-2deg);
  }
}

@keyframes sizeUpDown {
  5% {
    transform: scale(1.8);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.6);
  }
  27% {
    transform: scale(1.5);
  }
}

@keyframes rip {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(var(--scale));
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
  75% {
    opacity: 0.9;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleUp {
  5%, 95% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}



@keyframes progressing {
  0% {
    width: 0%;
  }
  50%, 70% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .titleModal > div {
    width: 500px;
    height: auto;
  }
  .dropDiv {
    width: 90px;
    height: auto;
    transform: translate(119px, 58px);
  }
  .waves {
    bottom: 50px;
  }
  .wavesFiller {
    height: 43px;
  }
  .handsome > img {
    width: 515px;
    bottom: 0px;
  }
  .constellation {
    width: 500px;
  }
  .layerStar {
    width: 60px;
  }
  .inactiveStar {
    width: 60px;
  }
  .sunlightStar {
    top: 82px;
    left: 88px;
  }
    .sunlightToTwilight {
      left: 45px;
      top: 230px;
      width: 150px;
      rotate: -60deg;
    }
  .twilightStar {
    top: 210px;
    left: 15px;
  }
    .twilightToMidnight {
      left: 45px;
      top: 232px;
      width: 220px;
      rotate: 23deg;
    }
  .midnightStar {
    top: 300px;
    left: 250px;
  }
    .midnightToAbyss {
      right: 45px;
      top: 232px;
      width: 220px;
      rotate: -23deg;
    }
  .abyssStar {
    top: 210px;
    right: 15px;
  }
    .abyssToTrenches {
      right: 45px;
      top: 230px;
      width: 150px;
      rotate: 60deg;
    }
  .trenchesStar {
    top: 82px;
    right: 88px;
  }
  .selectedLayerName {
    top: 480px;
  }
  .selectedLayerName > h2 {
    font-size: 2rem;
  }
}

/* iPad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .titleModal > div {
    top: 45%;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .titleModal > div {
    display: block;
    width: 280px;
    height: auto;
  }
  .dropDiv {
    width: 55px;
    height: auto;
    transform: translate(65px, 37px);
  }
  .waves {
    bottom: 50px;
  }
  .wavesFiller {
    height: 43px;
  }
  .handsome > img {
    width: 350px;
    bottom: 5px;
  }
  .constellation {
    width: 280px;
  }
  .constellation > img {
    position: absolute;
    top: -22px;
    left: 0px;
  }
  .layerStar {
    width: 35px;
  }
  .inactiveStar {
    width: 35px;
  }
  .sunlightStar {
    top: 18px;
    left: 50px;
  }
    .sunlightToTwilight {
      left: 23px;
      top: 106px;
      width: 92px;
      rotate: -60deg;
    }
  .twilightStar {
    top: 95px;
    left: 4px;
  }
    .twilightToMidnight {
      left: 20px;
      top: 105px;
      width: 130px;
      rotate: 23deg;
    }
  .midnightStar {
    top: 145px;
    left: 140px;
  }
    .midnightToAbyss {
      right: 20px;
      top: 105px;
      width: 130px;
      rotate: -23deg;
    }
  .abyssStar {
    top: 95px;
    right: 4px;
  }
    .abyssToTrenches {
      right: 23px;
      top: 106px;
      width: 92px;
      rotate: 60deg;
    }
  .trenchesStar {
    top: 18px;
    right: 50px;
  }
  .selectedLayerName {
    top: -25px;
    z-index: -1;
  }
  .selectedLayerName > h2 {
    font-size: 1.5rem;
  }
}

/* Phone */
@media only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .titleModal > div {
    top: 45%;
  }
}

/* pc large*/
@media only screen
  and (min-height: 1100px)
  and (orientation: landscape) {
  .titleModal > div {
    display: block;
    width: 800px;
    height: auto;
  }
  .dropDiv {
    width: 150px;
    height: auto;
    transform: translate(187px, 99px);
  }
  .waves {
      height:45vh;
      min-height:40vh;
  }
  .handsome > img {
    width: 1000px;
    bottom: -120px;
  }
  .constellation {
    width: 800px;
  }
  .layerStar {
    width: 100px;
  }
  .inactiveStar {
    width: 100px;
  }
  .sunlightStar {
    top: 120px;
    left: 140px;
  }
    .sunlightToTwilight {
      left: 70px;
      top: 365px;
      width: 240px;
      rotate: -60deg;
    }
  .twilightStar {
    top: 335px;
    left: 10px;
  }
    .twilightToMidnight {
      left: 65px;
      top: 374px;
      width: 360px;
      rotate: 23deg;
    }
  .midnightStar {
    top: 475px;
    left: 400px;
  }
    .midnightToAbyss {
      right: 65px;
      top: 374px;
      width: 360px;
      rotate: -23deg;
    }
  .abyssStar {
    top: 335px;
    right: 10px;
  }
    .abyssToTrenches {
      right: 70px;
      top: 365px;
      width: 240px;
      rotate: 60deg;
    }
  .trenchesStar {
    top: 120px;
    right: 140px;
  }
  .selectedLayerName {
    top: 800px;
  }
}
