<div class="titleModal">
  <div>
    <img class="titleTypo" src="../assets/images/typo.GIF"/>
    <div class="dropDiv">
      <img class="drop" src="../assets/images/drop.PNG"/>
    </div>
  </div>
</div>

<div class="oceanBg">
  <div id="oceanBaseBg">
    <div class="oceanBaseBgInner"></div>
  </div>
  <app-stars></app-stars>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-5 88-5s 58 5 88 5 58-5 88-5 58 5 88 5 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.1" />
      <use xlink:href="#gentle-wave" x="48" y="1" fill="rgba(255,255,255,0.2)" />
      <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(255,255,255,0.3)" />
    </g>
  </svg>
  <div class="ripples">
    <span class="ripple"></span>
    <span class="ripple"></span>
    <span class="ripple"></span>
    <span class="ripple"></span>
    <span class="ripple"></span>
  </div>
  <div class="handsome">
    <img src="../assets/images/schneider-main-float.GIF"/>
  </div>
</div>
<div id="layerNavContent">
  <app-tool-bar [showBack]="false"></app-tool-bar>
  <div class="constellation">
    <img src="../assets/images/schneider-constellation.PNG" />
    <div class="sunlightToTwilight" [ngClass]="false ? 'layerLine' : 'inactiveLine'"></div>
    <div class="twilightToMidnight" [ngClass]="false ? 'layerLine' : 'inactiveLine'"></div>
    <div class="midnightToAbyss" [ngClass]="false ? 'layerLine' : 'inactiveLine'"></div>
    <div class="abyssToTrenches" [ngClass]="false ? 'layerLine' : 'inactiveLine'"></div>
    <div class="sunlightStar" routerLink="/sunlight" [ngClass]="true ? 'layerStar' : 'inactiveStar'"
         (click)="onLayerSelect(true)" (mouseover)="layerHover('sunlight')" (mouseout)='layerHoverOut()'>
      <img src="../assets/images/close-icon-hover.PNG" />
    </div>
    <div class="twilightStar" [ngClass]="false ? 'layerStar' : 'inactiveStar'"
         (click)="onLayerSelect(false)" (mouseover)="layerHover('twilight')" (mouseout)='layerHoverOut()'>
      <img src="../assets/images/close-icon-hover.PNG" />
    </div>
    <div class="midnightStar" [ngClass]="false ? 'layerStar' : 'inactiveStar'"
         (click)="onLayerSelect(false)" (mouseover)="layerHover('midnight')" (mouseout)='layerHoverOut()'>
      <img src="../assets/images/close-icon-hover.PNG" />
    </div>
    <div class="abyssStar" [ngClass]="false ? 'layerStar' : 'inactiveStar'"
         (click)="onLayerSelect(false)" (mouseover)="layerHover('abyss')" (mouseout)='layerHoverOut()'>
      <img src="../assets/images/close-icon-hover.PNG" />
    </div>
    <div class="trenchesStar" [ngClass]="false ? 'layerStar' : 'inactiveStar'"
         (click)="onLayerSelect(false)" (mouseover)="layerHover('trenches')" (mouseout)='layerHoverOut()'>
      <img src="../assets/images/close-icon-hover.PNG" />
    </div>
  </div>
  <div class="selectedLayerName">
    <h2>{{ levelDisplayText[hoveredLayer] || '' }}</h2>
  </div>
</div>

<div id="layerContentBegin"></div>
<router-outlet></router-outlet>
