.titleModal {
  color: white;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  animation-fill-mode: forwards;
  animation-name: slideUp, hideTypo;
  animation-duration: 1s, 100ms;
  animation-delay: 11s, 14s;
  animation-iteration-count: 1, 1;
  z-index: 10;
}
.titleModal > div {
  display: block;
  width: 600px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.titleTypo {
  width: 100%;
  height: 100%;
  animation: imgFade 500ms linear;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}
.dropDiv {
    position: absolute;
    width: 120px;
    height: auto;
    bottom: 0;
    left: 0;
    transform: translate(137px, 76px);
}
.drop {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: dropping 1800ms linear;
    animation-fill-mode: forwards;
    animation-delay: 11s;
}

#layerNav {
  background-color: #030216;
  background-image:
    radial-gradient(ellipse at 10% 10%, #0e0f24 0%, transparent 55%),
    radial-gradient(ellipse at 30% 110%, #28fecd 0%, transparent 40%),
    radial-gradient(ellipse at 70% 110%, #17fee2 0%, transparent 40%),
    radial-gradient(ellipse at 10% 100%, #472ea6 0%, transparent 25%),
    radial-gradient(ellipse at 90% 100%, #472ea6 0%, transparent 25%),
    radial-gradient(ellipse at 25% 50%, #50507b 0%, transparent 60%),
    radial-gradient(ellipse at 80% 54%, #50507b 0%, transparent 62%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.layerNavBG {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image:
      radial-gradient(ellipse at 30% 55%, #0e0f24 0%, transparent 55%),
      radial-gradient(ellipse at 70% 40%, #5257b0 0%, transparent 55%);
}
.layerNavContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.layerNavLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#layerContentBegin {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -20;
}

/* BG */
.oceanBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.waves {
  position: absolute;
  width: 100%;
  height: 35vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:25vh;
  max-height:35vh;
  bottom: 0;
  left: 0;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -4s;
  animation-duration: 52s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}
.parallax > use:nth-child(3) {
  animation-delay: -2s;
  animation-duration: 21s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}


@keyframes slideUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes imgFade {
  from {
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes dropping {
  0% {
    opacity: 1;
    transform: translateY(+0vh);
  }
  30% {
    opacity: 1;
    transform: translateY(+30vh);
  }
  100% {
    opacity: 0;
    transform: translateY(+100vh);
    display: none;
  }
}

@keyframes hideTypo {
  from {
    display: block;
  }
  to {
    display: none;
  }
}



@media only screen  and (max-height: 600px) and (orientation: landscape) {
  .titleModal > div {
    display: block;
    width: 400px;
    height: auto;
  }
  .dropDiv {
      width: 80px;
      height: auto;
      transform: translate(91px, 48px);
  }
  .waves {
      height:30vh;
      min-height:30vh;
  }
}

@media only screen  and (min-height: 1100px) and (orientation: landscape) {
  .titleModal > div {
    display: block;
    width: 800px;
    height: auto;
  }
  .dropDiv {
    width: 150px;
    height: auto;
    transform: translate(187px, 99px);
  }
  .waves {
      height:35vh;
      min-height:35vh;
  }
}
