<div class="titleModal">
  <div>
    <img class="titleTypo" src="../assets/images/typo.GIF"/>
    <div class="dropDiv">
      <img class="drop" src="../assets/images/drop.PNG"/>
    </div>
  </div>
</div>
<div class="handsomeSchneider"></div>
<div id="layerNav">
  <div class="layerNavBG"></div>
  <div class="layerNavLink">
    <a routerLink="/sunlight" (click)="onLayerSelect()">{{ levelDisplayText['sunlight'] }}</a>
    <a aria-disabled="true">{{ levelDisplayText['twilight'] }}</a>
    <a aria-disabled="true">{{ levelDisplayText['midnight'] }}</a>
    <a aria-disabled="true">{{ levelDisplayText['abyss'] }}</a>
    <a aria-disabled="true">{{ levelDisplayText['trenches'] }}</a>
  </div>
  <app-tool-bar [showBack]="false"></app-tool-bar>
</div>
<div id="layerContentBegin"></div>
<router-outlet></router-outlet>
