.projectDetail .logoDiv {
  mask-image: url("../../../assets/images/fenchanted/fenchanted-logo.PNG");
  mask-size: 600px auto;
  mask-repeat: no-repeat;
  mask-position: center;
}

.standee1{
  content: url("../../../assets/images/fenchanted/standee-k-mad.JPG");
  width: 48%;
  height: auto;
}
.standee2{
  content: url("../../../assets/images/fenchanted/standee-k-first.JPG");
  width: 48%;
  height: auto;
}
.specialMenuImg1 {
  margin-top: 10px;
  content: url("../../../assets/images/fenchanted/special-set.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg2 {
  margin-top: 10px;
  content: url("../../../assets/images/fenchanted/dearest.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg3 {
  margin-top: 10px;
  content: url("../../../assets/images/fenchanted/sweetheart.JPG");
  width: 70%;
  height: auto;
}


.slide-wrapper {
  width: 4250px;
}
.slide:nth-child(1) > img {
  content: url("../../../assets/images/fenchanted/fen1.JPG");
  width: 600px;
}
.slide:nth-child(2) > img {
  content: url("../../../assets/images/fenchanted/fen2.JPG");
  width: 650px;
}
.slide:nth-child(3) > img {
  content: url("../../../assets/images/fenchanted/fen3.JPG");
  width: 340px;
}
.slide:nth-child(4) > img {
  content: url("../../../assets/images/fenchanted/fen4.JPG");
  width: 650px;
}
.slide:nth-child(5) > img {
  content: url("../../../assets/images/fenchanted/fen5.JPG");
  width: 650px;
}
.slide:nth-child(6) > img {
  content: url("../../../assets/images/fenchanted/fen6.JPG");
  width: 650px;
}
.slide:nth-child(7) > img {
  content: url("../../../assets/images/fenchanted/fen7.JPG");
  width: 650px;
}
.previewFen1 {
  content: url("../../../assets/images/fenchanted/fen1.JPG");
}
.previewFen2 {
  content: url("../../../assets/images/fenchanted/fen2.JPG");
}
.previewFen3 {
  content: url("../../../assets/images/fenchanted/fen3.JPG");
}
.previewFen4 {
  content: url("../../../assets/images/fenchanted/fen4.JPG");
}
.previewFen5 {
  content: url("../../../assets/images/fenchanted/fen5.JPG");
}
.previewFen6 {
  content: url("../../../assets/images/fenchanted/fen6.JPG");
}
.previewFen7 {
  content: url("../../../assets/images/fenchanted/fen7.JPG");
}

/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .projectDetail .logoDiv {
    mask-size: 400px auto;
  }
  .slide-wrapper {
    width: 3435px;
  }
  .slide:nth-child(1) > img {
    width: 460px;
  }
  .slide:nth-child(2) > img {
    width: 530px;
  }
  .slide:nth-child(3) > img {
    width: 265px;
  }
  .slide:nth-child(4) > img {
    width: 530px;
  }
  .slide:nth-child(5) > img {
    width: 530px;
  }
  .slide:nth-child(6) > img {
    width: 530px;
  }
  .slide:nth-child(7) > img {
    width: 530px;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .projectDetail .logoDiv {
    mask-size: 280px auto;
  }
  .slide-wrapper {
    width: 2345px;
  }
  .slide:nth-child(1) > img {
    width: 300px;
  }
  .slide:nth-child(2) > img {
    width: 370px;
  }
  .slide:nth-child(3) > img {
    width: 165px;
  }
  .slide:nth-child(4) > img {
    width: 370px;
  }
  .slide:nth-child(5) > img {
    width: 370px;
  }
  .slide:nth-child(6) > img {
    width: 370px;
  }
  .slide:nth-child(7) > img {
    width: 370px;
  }
}
