/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
body {
  background-color: #030216;
  color: white;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
}
body::after {
   position:absolute;
   width:0;
   height:0;
   overflow:hidden;
   z-index:-50;
   content: url("assets/images/typo.GIF")
            url("assets/images/back-icon.PNG")
            url("assets/images/back-icon-hover.PNG")
            url("assets/images/close-icon.PNG")
            url("assets/images/close-icon-hover.PNG")
            url("assets/images/collab-icon.PNG")
            url("assets/images/congrats-icon.PNG")
            url("assets/images/credit-icon.PNG")
            url("assets/images/credit-icon-hover.PNG")
            url("assets/images/drop.PNG")
            url("assets/images/galleries-icon.PNG")
            url("assets/images/galleries-icon-hover.PNG")
            url("assets/images/goods-icon.PNG")
            url("assets/images/home-icon.PNG")
            url("assets/images/home-icon-hover.PNG")
            url("assets/images/loading-icon.PNG")
            url("assets/images/member-icon.PNG")
            url("assets/images/music-icon.PNG")
            url("assets/images/projects-close-icon.PNG")
            url("assets/images/projects-close-icon-hover.PNG")
            url("assets/images/projects-icon.PNG")
            url("assets/images/projects-icon-hover.PNG")
            url("assets/images/schneider-constellation.PNG")
            url("assets/images/schneider-layer-dive.GIF")
            url("assets/images/schneider-layer-float.GIF")
            url("assets/images/schneider-main-float.GIF")
            url("assets/images/stars.PNG")
            url("assets/images/sunlight-bg1.PNG")
            url("assets/images/sunlight-bg2.PNG")
            url("assets/images/sunlight-bg3.PNG")
            url("assets/images/timeline-icon.PNG")
            url("assets/images/timeline-icon-hover.PNG")
            url("assets/images/typo.PNG");
}
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.appBlock {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  background-color: black;
}
.appContent {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  aspect-ratio: 16:9;
  height: 100vh;
  width: auto;
  overflow: hidden;
}
.alignMiddle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0px;
  z-index: 15;
}

.projectContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}
.projectDetail {
  height: auto;
  width: 80%;
  color: black;
  margin: 0 auto;
  padding-bottom: 40vh;
  display: flex;
  flex-direction: column;
}
.projectDetail::before {
  content: '';
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  position: fixed;
  top: 100px;
  z-index: -1;
}

.projectDetail .logoDiv {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 440px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9));
}

.projectDetail .twitterDiv {
  width: 99%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  column-gap: 5px;
}

.projectDetail .locationDiv:hover {
  cursor: pointer;
}

.projectDetail .locationDiv > img {
  content: url("assets/images/location-icon.PNG");
  width: 20px;
  height: 20px;
}

.projectDetail .twitterLink {
  width: auto;
  height: 100%;
}
.projectDetail .twitterLink > img {
  content: url("assets/images/twitter-icon.PNG");
  width: 100%;
  height: 100%;
}

.projectDetail .dateNPlaceDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.projectDetail .dateNPlaceDiv > h2 {
  border-right: 4px solid black;
  padding: 5px 20px;
}

.projectDetail .menuDiv {
  margin-bottom: 3rem;
}
.projectDetail .menuDiv > h1 {
  margin-bottom: 0.5rem;
}
.projectDetail .menuDiv dt {
  display:block;
  float:left;
  width:45%;
  text-align: right;
}
.projectDetail .menuDiv dt:after{
  content:':';
  font-style: normal;
  padding: 5px;
}
.projectDetail .menuDiv dd {
  display:block;
  text-align: left;
  margin: 2px 0px;
}
.projectDetail .staticPicDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectDetail .staticPicDiv .standeeDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.mat-mdc-dialog-surface, .mdc-dialog__surface {
  background-color: rgba(0, 0, 0, 0.8) !important;
}


/* -- scrollbar ----------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media only screen  and (orientation: portrait) {
  .appBlock {
    display: block;
  }
}

@media only screen  and (max-height: 600px) and (orientation: landscape) {
}

@media only screen  and (min-height: 1100px) and (orientation: landscape) {
}
