<div class="layerContainer sunlightLayerContainer">
  <app-tool-bar [level]="level" [sublevel]="'Presents to Schneider'"></app-tool-bar>
  <app-projects-tool-bar [level]="level" [currentProject]="projectName"></app-projects-tool-bar>
  <div class="projectContainer">
    <div class="projectDetail">
      <div class="logoDiv"></div>
      <div class="twitterDiv">
        <a class="twitterLink" href="https://twitter.com/AMiORE0802" target="_blank">
          <img src="#" />
          <span>#AMiORE0802</span>
        </a>
      </div>
      <p>"Special date with our dearest friend 'Schneider'"</p>
      <div class="dateNPlaceDiv">
        <h2>2 - 4 Feb 2024</h2>
        <p>Holidate Cafe
          <a class="locationDiv" href="https://maps.app.goo.gl/gLif8MspMnyu4JR16" target="_blank">
            <img src="#" />
          </a>
        </p>
      </div>
      <div class="menuDiv">
        <h1>Special Menu</h1>
        <dl>
          <dt>LOVE</dt><dd>มิกซ์เบอรี่ ส้ม โซดา รสชาติเปรี้ยวๆมีรสหวานนิดๆ</dd>
          <dt>BELOVED</dt><dd>นมน้ำผึ้งเย็น นมนวลๆ หอมน้ำผึ้ง มาพร้อมรสหวานนุ่มๆ</dd>
        </dl>
      </div>
      <div class="giftDiv">
        <h1>Gift Set</h1>
        <dl>
          <dt>Cup Sleeve</dt><dd>กระดาษครอบแก้ว</dd>
          <dt>Clear Card</dt><dd>การ์ดใส</dd>
          <dt>Coaster</dt><dd>ที่รองแก้ว</dd>
          <dt>Random Post Card</dt><dd>โปสการ์ดแบบสุ่ม</dd>
          <dt>Acrylic Standee</dt><dd>สแตนดี้อะคริลิค</dd>
        </dl>
      </div>
      <div class="staticPicDiv">
        <div class="standeeDiv">
          <img class="standee1" src="#"/>
          <img class="standee2" src="#"/>
        </div>
        <img class="specialMenuImg1" src="#" />
        <img class="specialMenuImg2" src="#" />
      </div>
      <div class="galleriesDiv">
        <h1>Galleries</h1>
        <div class="slideshow">
          <div class="slide-wrapper">
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil1')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil2')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil3')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil4')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil5')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil6')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewAmil7')" /></div>
          </div>
        </div>
        <div>✦ ✦ ✦ slide left/right to see more ✦ ✦ ✦</div>
      </div>
    </div>
    <div *ngIf="showPreview"
         [@animation]="{value: 'visible'}"
         class="lightBox"
         (click)="onClosePreview()">
      <img class="closeBtn" />
      <div class="lightBoxContainer" >
        <img class="lightBoxImage" [ngClass]="[lightBoxImageClass]" src="#" (click)="$event.stopPropagation()"/>
      </div>
    </div>
  </div>
  <app-sunlight-zone-bg></app-sunlight-zone-bg>
</div>
