.projectDetail .logoDiv {
  height: 260px;
  margin-top: 65px;
  mask-image: url("../../../assets/images/amiore/amiore-logo.PNG");
  mask-size: 650px auto;
  mask-repeat: no-repeat;
  mask-position: center;
}

.standee1{
  content: url("../../../assets/images/amiore/standee-amil1.JPG");
  width: 48%;
  height: auto;
}
.standee2{
  content: url("../../../assets/images/amiore/standee-amil2.JPG");
  width: 48%;
  height: auto;
}
.specialMenuImg1 {
  margin-top: 10px;
  content: url("../../../assets/images/amiore/love.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg2 {
  margin-top: 10px;
  content: url("../../../assets/images/amiore/be-loved.JPG");
  width: 70%;
  height: auto;
}


.slide-wrapper {
  width: 2160px;
}
.slide:nth-child(1) > img {
  content: url("../../../assets/images/amiore/amil1.JPG");
}
.slide:nth-child(2) > img {
  content: url("../../../assets/images/amiore/amil2.JPG");
}
.slide:nth-child(3) > img {
  content: url("../../../assets/images/amiore/amil3.JPG");
}
.slide:nth-child(4) > img {
  content: url("../../../assets/images/amiore/amil4.JPG");
}
.slide:nth-child(5) > img {
  content: url("../../../assets/images/amiore/amil5.JPG");
}
.slide:nth-child(6) > img {
  content: url("../../../assets/images/amiore/amil6.JPG");
}
.slide:nth-child(7) > img {
  content: url("../../../assets/images/amiore/amil7.JPG");
}
.previewAmil1 {
  content: url("../../../assets/images/amiore/amil1.JPG");
}
.previewAmil2 {
  content: url("../../../assets/images/amiore/amil2.JPG");
}
.previewAmil3 {
  content: url("../../../assets/images/amiore/amil3.JPG");
}
.previewAmil4 {
  content: url("../../../assets/images/amiore/amil4.JPG");
}
.previewAmil5 {
  content: url("../../../assets/images/amiore/amil5.JPG");
}
.previewAmil6 {
  content: url("../../../assets/images/amiore/amil6.JPG");
}
.previewAmil7 {
  content: url("../../../assets/images/amiore/amil7.JPG");
}


/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .projectDetail .logoDiv {
    height: 180px;
    margin-top: 50px;
    mask-size: 450px auto;
  }
  .slide-wrapper {
    width: 1670px;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .projectDetail .logoDiv {
    height: 80px;
    margin-top: 25px;
    mask-size: 280px auto;
  }
  .slide-wrapper {
    width: 1010px;
  }
}
