.projectsToolBar {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 10px 0;
}
.project {
  border-left: solid 2px white;
  padding-left: 10px;
}
.project:nth-child(1) {
  border: none;
}
.project > a {
  padding: 5px;
}
.project > a:hover {
  color: #ebebeb;
}
.selected {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}
