<div class="layerContainer sunlightLayerContainer">
  <app-tool-bar [level]="level" [sublevel]="'Presents to Schneider'"></app-tool-bar>
  <app-projects-tool-bar [level]="level" [currentProject]="projectName"></app-projects-tool-bar>
  <div class="projectContainer">
    <div class="projectDetail">
      <!--      <h2>{{ projectNameList[projectName] }}</h2>-->
      <div class="logoDiv"></div>
      <div class="twitterDiv">
        <a class="twitterLink" href="https://twitter.com/DeepSea_0802" target="_blank">
          <img src="#" />
          <span>#TheWhisperCafe</span>
        </a>
      </div>
      <p>"Ahoy! Arrrrr ye ready? มาออกเดินทางเพื่อตามหาเสียงกระซิบจากห้วงทะเลลึกกันเถอะ!"</p>
      <div class="dateNPlaceDiv">
        <h2>2 - 4 Feb 2024</h2>
        <p>Hwang Cafe, <br>BTS Phra Khanong
          <a class="locationDiv" href="https://maps.app.goo.gl/8SjPxbvAqKmALfdQ6" target="_blank">
            <img src="#" />
          </a>
        </p>
      </div>
      <div class="menuDiv">
        <h1>Special Menu</h1>
        <dl>
          <dt>Firtha's Horizon Treasures</dt><dd>อัญชันน้ำผึ้งมะนาวโซดา & บลูเบอร์รี่ชีสเค้ก</dd>
          <dt>Lorelei's Sips and Treat</dt><dd>ชาไทย & สปันจ์เค้กแยมบลูเบอร์รี่</dd>
          <dt>Corsair's Sips and Treat</dt><dd>ชาเขียว & สปัจน์เค้กแยมบลูเบอร์รี่)่</dd>
        </dl>
      </div>
      <div class="giftDiv">
        <h1>Gift Set</h1>
        <dl>
          <dt>Cup Sleeve</dt><dd>กระดาษครอบแก้ว</dd>
          <dt>Post Card</dt><dd>โปสการ์ด</dd>
          <dt>Photo Card (special menu)</dt><dd>โฟโต้การ์ด (เมนูพิเศษ)</dd>
          <dt>Random Photo Card</dt><dd>โฟโต้การ์ดแบบสุ่ม</dd>
          <dt>Photo Booth Strip</dt><dd>โฟโต้สตริป รูปถ่ายตู้สติกเกอร์</dd>
          <dt>Random Post Card (activities)</dt><dd>โปสการ์ดแบบสุ่ม (กิจกรรม)</dd>
        </dl>
      </div>
      <div class="staticPicDiv">
        <div class="standeeDiv">
          <img class="standee1" src="#"/>
          <img class="standee2" src="#"/>
        </div>
        <img class="specialMenuImg1" src="#" />
        <img class="specialMenuImg2" src="#" />
        <img class="specialMenuImg3" src="#" />
      </div>
      <div class="galleriesDiv">
        <h1>Galleries</h1>
        <div class="slideshow">
          <div class="slide-wrapper">
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper1')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper2')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper3')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper4')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper5')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper6')" /></div>
            <div class="slide"><img src="#" (click)="onPreviewImage('previewWhisper7')" /></div>
          </div>
        </div>
        <div>✦ ✦ ✦ slide left/right to see more ✦ ✦ ✦</div>
      </div>
    </div>
    <div *ngIf="showPreview"
         [@animation]="{value: 'visible'}"
         class="lightBox"
         (click)="onClosePreview()">
      <img class="closeBtn" />
      <div class="lightBoxContainer" >
        <img class="lightBoxImage" [ngClass]="[lightBoxImageClass]" src="#" (click)="$event.stopPropagation()"/>
      </div>
    </div>
  </div>
  <app-sunlight-zone-bg></app-sunlight-zone-bg>
</div>
