.projectDetail .logoDiv {
  mask-image: url("../../../assets/images/deep-sea/deep-sea-logo.PNG");
  mask-size: 555px auto;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 495px;
}

.standee1{
  content: url("../../../assets/images/deep-sea/standee-schneider.PNG");
  width: 48%;
  height: auto;
}
.standee2{
  content: url("../../../assets/images/deep-sea/standee-schmeiphorn.PNG");
  width: 48%;
  height: auto;
}
.specialMenuImg1 {
  margin-top: 10px;
  content: url("../../../assets/images/deep-sea/firtha.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg2 {
  margin-top: 10px;
  content: url("../../../assets/images/deep-sea/lorelei.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg3 {
  margin-top: 10px;
  content: url("../../../assets/images/deep-sea/corsair.JPG");
  width: 70%;
  height: auto;
}


/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .projectDetail .logoDiv {
    height: 380px;
    mask-size: 400px auto;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .projectDetail .logoDiv {
    height: 230px;
    mask-size: 270px auto;
  }
}
