.projectDetail .logoDiv {
  mask-image: url("../../../assets/images/deep-sea/deep-sea-logo.PNG");
  mask-size: 555px auto;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 495px;
}

.standee1{
  content: url("../../../assets/images/deep-sea/standee-schneider.PNG");
  width: 48%;
  height: auto;
}
.standee2{
  content: url("../../../assets/images/deep-sea/standee-schmeiphorn.PNG");
  width: 48%;
  height: auto;
}
.specialMenuImg1 {
  margin-top: 10px;
  content: url("../../../assets/images/deep-sea/firtha.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg2 {
  margin-top: 10px;
  content: url("../../../assets/images/deep-sea/lorelei.JPG");
  width: 70%;
  height: auto;
}
.specialMenuImg3 {
  margin-top: 10px;
  content: url("../../../assets/images/deep-sea/corsair.JPG");
  width: 70%;
  height: auto;
}



.slide-wrapper {
  width: 3660px;
}
.slide:nth-child(1) > img {
  content: url("../../../assets/images/deep-sea/whisper1.JPG");
  width: 640px;
}
.slide:nth-child(2) > img {
  content: url("../../../assets/images/deep-sea/whisper2.JPG");
  width: 640px;
}
.slide:nth-child(3) > img {
  content: url("../../../assets/images/deep-sea/whisper3.JPG");
  width: 640px;
}
.slide:nth-child(4) > img {
  content: url("../../../assets/images/deep-sea/whisper4.JPG");
  width: 440px;
}
.slide:nth-child(5) > img {
  content: url("../../../assets/images/deep-sea/whisper5.JPG");
}
.slide:nth-child(6) > img {
  content: url("../../../assets/images/deep-sea/whisper6.JPG");
}
.slide:nth-child(7) > img {
  content: url("../../../assets/images/deep-sea/whisper7.JPG");
  width: 640px;
}


/* pc small */
@media only screen
  and (max-height: 600px)
  and (orientation: landscape),
only screen
  and (min-width: 768px)
  and (max-width: 1024px),
/* iPad */
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1),
only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2),
only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .projectDetail .logoDiv {
    height: 380px;
    mask-size: 400px auto;
  }
  .slide-wrapper {
    width: 2840px;
  }
  .slide:nth-child(1) > img {
    width: 500px;
  }
  .slide:nth-child(2) > img {
    width: 500px;
  }
  .slide:nth-child(3) > img {
    width: 500px;
  }
  .slide:nth-child(4) > img {
    width: 340px;
  }
  .slide:nth-child(5) > img {
  }
  .slide:nth-child(6) > img {
  }
  .slide:nth-child(7) > img {
    width: 480px;
  }
}

/* pc extra small */
@media only screen
  and (max-height: 400px)
  and (orientation: landscape),
only screen
  and (min-width: 390px)
  and (max-width: 768px)
  and (orientation: landscape),
/* Phone */
only screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 390px)
  and (max-device-width: 844px)
  and (-webkit-min-device-pixel-ratio: 4)
  and (orientation: landscape),
only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape),
only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .projectDetail .logoDiv {
    height: 230px;
    mask-size: 270px auto;
  }
  .slide-wrapper {
    width: 1830px;
  }
  .slide:nth-child(1) > img {
    width: 330px;
  }
  .slide:nth-child(2) > img {
    width: 330px;
  }
  .slide:nth-child(3) > img {
    width: 330px;
  }
  .slide:nth-child(4) > img {
    width: 210px;
  }
  .slide:nth-child(5) > img {
  }
  .slide:nth-child(6) > img {
  }
  .slide:nth-child(7) > img {
    width: 320px;
  }
}
